{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="bg-white text-dark rounded p-3">
        <form action="/profile/create/" method="post">
            {% csrf_token %}
            <h4>Creating profile</h4>
            
            <div class="row mb-3">
                {{ form.title|as_crispy_field }}
            </div>
    
            <button class="btn btn-primary" type="submit">Create</button>
            <a href="{% url 'profile_list' %}" class="btn btn-outline-danger">Back</a>
        </form>
    </div>
{% endblock %}
