{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="bg-white text-dark rounded p-3">
        <form action="" method="post">
            {% csrf_token %}
            <h4>Updating profile</h4>
            
            <div class="mb-3">
                {{ form.title|as_crispy_field }}
            </div>

            <button class="btn btn-primary" type="submit">Update</button>
            <a href="{% url 'profile_view' profile.id %}" class="btn btn-outline-danger">Back</a>
        </form>
    </div>
{% endblock %}
