{% extends 'main/base.html' %}

{% block content %}
    <div class="card border-light mb-3">
        <div class="w-auto" style="height: 250px; filter: brightness(65%); background-color:rgba(0,0,0,.3);">
            <img style="object-fit: cover;" src="https://images5.alphacoders.com/596/thumbbig-596248.webp" class="card-img mw-100 mh-100" alt="...">
        </div>
        
        <div class="card-img-overlay d-flex align-items-start flex-column">
            <div class="mb-auto">
                <h5 class="card-title">
                    {% if profile.is_new %}
                    <span class="badge bg-primary">New</span>
                    {% endif %}
                    
                    {{ profile.title }}
                </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small>Created {{ profile.date_created|date:"F d, Y" }}</small></p>
            </div>
            
            <div class="d-flex gap-2">
                <a class="btn btn-outline-primary" href="{% url 'profile_list' %}">Back</a>
                <a class="btn btn-primary" href="{% url 'profile_update' profile.id %}"><i class="bi bi-pencil"></i></a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProfileModal">
                    <i class="bi bi-trash"></i>
                </button>                  

                <div class="modal fade text-dark" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteProfileModalLabel">Deleting a profile</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want to delete this profile?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'profile_delete' profile.id %}" class="btn btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex" style="height: calc(100vh - 305px);">
        <div class="col-1 bg-white rounded-start p-3" style="width: 200px;">
            <a href="{% url 'task_create' profile.id %}" class="btn btn-primary w-100">Add task</a>
        </div>

        <div class="vr"></div>

        <ul class="col list-group list-group-flush bg-white rounded-end">
            {% for task in tasks %}
                <a class="d-flex list-group-item border-secondary" href="{% url 'task_update' task.id %}">
                    <div class="flex-grow-1">{{ task.name }}</div>
                    <small class="text-muted">{{ task.date_created|date:"M d" }}</small>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

<!-- <a href="{% url 'profile_update' profile.id %}" class="btn btn-warning">Update</a>
<a href="{% url 'profile_delete' profile.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'task_create' profile.id %}" class="btn btn-primary">Create task</a> -->