{% extends 'main/base.html' %}

{% block content %}
    <div class="rounded">
        <div class="list-group">
            {% for task in tasks %}
                <a href="{% url 'task_view' task.id %}" class="list-group-item bg-dark text-light d-flex">
                    <div class="flex-grow-1">{{ task.name }}</div>
                    <small class="text-muted">{{ task.date_created|date:"M d" }}</small>
                </a>
            {% endfor %}
            </div>

        <a href="{% url 'profile_update' profile.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'profile_delete' profile.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'task_create' profile.id %}" class="btn btn-primary">Create task</a>
    </div>
{% endblock %}
