{% extends 'main/base.html' %}

{% block content %}
    <div class="bg-dark rounded p-3">
        {% if profiles %}
            <div class="list-group">
                {% for profile in profiles %}   
                    <a href="{% url 'profile_view' profile.id %}" class="list-group-item">{{ profile.title }}</a>
                {% endfor %}
            </div>
            <a href="{% url 'profile_create' %}" class="btn btn-primary">Create profile</a>
        {% else %}
            <div class="align-self-center text-center">
                <p class="h4">Profiles not found</p>
                <p>Create a new profile using the button below.</p>
                <a href="{% url 'profile_create' %}" class="btn btn-primary">Create profile</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
