{% extends 'main/base.html' %}

{% block content %}
    <div class="d-flex" style="height: calc(100vh - 35px);">
        <div class="col-1 bg-white rounded-start p-3" style="width: 200px;">
            <a href="{% url 'profile_create' %}" class="btn btn-primary w-100">Create profile</a>
        </div>

        <div class="vr"></div>

        <div class="col list-group list-group-flush bg-white rounded-end">
            {% for profile in profiles %}   
                <a href="{% url 'profile_view' profile.id %}" class="list-group-item border-secondary">{{ profile.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
